* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
    max-width: 500px;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 30px;
    margin: 30px auto;
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    background: #f4f4f4;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task h2 svg{
    color: red;
}

